/* .img {
     position:absolute;
     left:294px;
     top:230px;
     border:1px solid grey;
 } */
/* div {
     position:absolute;
     left:0px;
     top:0px;
     width:400px;
     height:300px;
 } */

/* .screen{
     overflow: hidden;
     position: relative;
     height: 687px;
     width: 550px;
 }

 .screen .smth{
     width: 100%;
     height: 100%;;
 }
 .minimap{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    z-index: 1;
 }

 .minimap.hiden{
     visibility: hidden;
 } */
/* body {
    height: 500px;
    width: 500px;
 } */

#minimap {
    position: fixed;
    bottom: 60px;
    right: 0px;
}
canvas {
    border: 3px solid red;
}
